.about-row
  position: absolute
  width: 100%
  padding: 100px 80px 100px 80px

.person-img img
  border: 6px solid white
  height: 250px

.person-pic
  margin-top: 25px
  margin-left: 20%

.fun-ul li
  padding-bottom: 10px
