.about-container
  position: relative

.about-row
  position: relative
  width: 100%
  padding: 100px 80px 100px 80px

// animation title
.about-title
  padding: 0 0 50px 0
  text-align: center
  opacity: 0
  transition: all 2s cubic-bezier(0.43, 0.2, 0.45, 1.93)
  font-family: $font-marck

  &.pop
    opacity: 1

.about-title h3
  padding: 5px 10px
  margin-top: 0
  border-top: 5px solid $dark-gray
  border-bottom: 5px solid $dark-gray


// animation pop
.about-col
  opacity: 0
  margin-top: 50px
  transform: translateY(300px)
  transition: all 1s cubic-bezier(0.43, 0.2, 0.45, 1.93)

  &.pop
    opacity: 1
    transform: translateY(0px)

.about-col h5
  font-family: $font-marck

// person
.person-img img
  border: 6px solid white
  height: 220px

.person-pic
  margin-top: 10px

.person-desc p
  padding-bottom: 10px
  // font-family: $font-marck
  font-size: 20px

.fun-ul li
  padding-bottom: 10px
  // font-family: $font-marck
  font-size: 20px
