.contacts-wrap
  margin: 100px

.contacts-container
  position: relative
  height: 100%
  width: 100vw
  background:
    image: url(/images/lightbulb1.jpg)
    repeat: no-repeat
    attachment: fixed

.contacts-title
  // padding: 0 0 50px 0
  text-align: center
  opacity: 0
  transition: all 2s cubic-bezier(0.43, 0.2, 0.45, 1.93)
  font-family: $font-marck

  &.pop
    opacity: 1

.contacts-title h3
  // padding: 5px 10px
  margin: 0 0
  border-top: 5px solid $dark-gray
  border-bottom: 5px solid $dark-gray


// contact-ul
.contacts-ul li
  padding-bottom: 3px
  opacity: 0
  transform: translateX(-300px)
  transition: all 1s cubic-bezier(0.43, 0.2, 0.45, 1.93)

  &.pop
    opacity: 1
    transform: translateX(0px)

.contacts-ul li h5
  font-family: $font-marck

// google map
#map
  opacity: 0
  height: 400px
  width: 100%
  margin: 50px 0 50px 0
  border: 5px solid rgba(255,255,255,0.6)
  transition: all 2s ease-in-out

  &.fade-in
    opacity: 1

// label text
.input-field label
  color: $dark-gray
  font-size: 25px
  font-family: $font-marck
  font-weight: bold

.input-field input[type=text]:focus + label
     color: $dark-gray

.input-field input[type=text]:focus
     border-bottom: 1px solid $dark-gray
     box-shadow: 0 5px 0 0 rgba(31, 30, 30, 0.5)
     border-width: 0
     transition: all 0.28s ease

// label email
.input-field input[type=email]:focus + label
     color: $dark-gray

.input-field input[type=email]:focus
     border-bottom: 1px solid $dark-gray
     box-shadow: 0 5px 0 0 rgba(31, 30, 30, 0.5)
     border-width: 0
     transition: all 0.28s ease

// textarea
textarea.materialize-textarea:focus:not([readonly])
  border-bottom: 1px solid $dark-gray
  box-shadow: 0 5px 0 0 rgba(31, 30, 30, 0.5)
  border-width: 0
  transition: all 0.28s ease

// contacts-inputs
.contacts-inputs
  background-color: $dark-gray

.contacts-inputs:focus
  background-color: $dark-gray

.contacts-inputs:hover
  background-color: #bbbbbb


// inputs animation
.inputs-hidden
  padding-bottom: 3px
  opacity: 0
  transform: translateX(500px)
  transition: all 1s cubic-bezier(0.43, 0.2, 0.45, 1.93)

  &.show
    opacity: 1
    transform: translateX(0px)

.contacts-btn
  position: relative
  text-align: center
  width: 100%

.contacts-btn-color
  background-color: $dark-gray

.contacts-btn-color:focus
  background-color: $dark-gray

.contacts-btn-color:hover
  background-color: #bbbbbb
