.fly-in-text
  // background: rgba(31, 30, 30, 0.3)
  list-style: none
  position: absolute
  padding-left: 50px
  text-align: center
  width: 100%
  left: 50%
  top: 15%
  transform: translateX(-50%) translateY(-50%)

.fly-in-text li
  display: inline-block
  font-weight: 300
  font-size: 4em
  margin-right: 20px
  opacity: 1
  transition: 2.5s ease
  text-shadow: 5px 5px rgba(31, 30, 30, 0.6)

// .fly-in-text.hidden li
//   opacity: 0

.fly-in-text.hidden li:nth-child(1)
  transform: translateX(-180px) translateY(-60px)
.fly-in-text.hidden li:nth-child(2)
  transform: translateX(30px) translateY(120px)
.fly-in-text.hidden li:nth-child(3)
  transform: translateX(-180px) translateY(-20px)
.fly-in-text.hidden li:nth-child(4)
  transform: translateX(60px) translateY(140px)
.fly-in-text.hidden li:nth-child(5)
  transform: translateX(-250px) translateY(200px)
.fly-in-text.hidden li:nth-child(6)
  transform: translateX(20px) translateY(-100px)
.fly-in-text.hidden li:nth-child(7)
  transform: translateX(50px) translateY(260px)
