.my-work-wrap
  margin: 100px

.my-work-title
  padding: 0 0 0 0
  text-align: center

.my-work-title h3
  text-shadow: 5px 5px rgba(31, 30, 30, 0.6)
  padding: 5px 10px
  margin: 0 0
  border-top: 5px solid $dark-gray
  border-bottom: 5px solid $dark-gray

// video
.card .card-image video
    display: block
    border-radius: 2px 2px 0 0
    position: relative
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 100%

.my-work-description
  margin-bottom: 50px

// my work animation
.my-work-col
  opacity: 0
  transform: translateX(500px)
  transition: all 1s cubic-bezier(0.43, 0.2, 0.45, 1.73)

  &.pop
    opacity: 1
    transform: translateX(0px)
