.skills-wrap
  margin: 0 50px 0 50px

.skills-container
  position: relative
  height: 100%
  width: 100%
  background:
    color: #7942b1
    image: linear-gradient(to bottom, rgba(189, 189, 189, 1), #ffffff 100%)
    repeat: no-repeat
    size: contain
    attachment: fixed

.skills-row
  position: relative
  width: 100%
  padding: 100px 80px 100px 80px

.skills-col-d h4
  text-align: center

.skills-ul li
  max-width: 100px
  display: inline-block
  font-size: 5em

// development animate
.skills-col-d
  opacity: 0
  margin-bottom: 50px
  padding: 0 20px 20px 20px
  transform: translateX(-100px)
  transition: all 1s cubic-bezier(0.43, 0.2, 0.45, 1.93)

  &.pop
    opacity: 1
    transform: translateX(0px)

// // tools animate
// .skills-col-t
//   opacity: 0
//   padding: 50px 20px 20px 20px
//   transform: translateX(100px)
//   transition: all 1s cubic-bezier(0.43, 0.2, 0.45, 1.93)
//   z-index: 0
//
//   &.pop
//     opacity: 1
//     transform: translateX(0px)

// animation skill title
.skills-title
  padding: 0 0 50px 0
  text-align: center
  opacity: 0
  transition: all 2s cubic-bezier(0.43, 0.2, 0.45, 1.93)

  &.pop
    opacity: 1

.skills-title h3
  padding: 5px 10px
  border-top: 5px solid $dark-gray
  border-bottom: 5px solid $dark-gray
