<div class="navbar-fixed">
  <nav class='grey lighten-3'>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img class="responsive-img" id="logo" src="images/logoNew.png" /></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">About Me</a></li>
        <li><a href="badges.html">Skills</a></li>
        <li><a href="collapsible.html">My work</a></li>
        <li><a href="mobile.html">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="mobile-profile">
          <div class="profile-inner">
            <div class="pp-container">
              <img src="images/person.jpg" alt="">
            </div>
            <h10>Arif Rahman</h10>
            <h10><b>Creative/Full</b> Web Dev</h10>
          </div>
        </li>
        <!-- mini profile end-->
        <li><a href="sass.html">About Me</a></li>
        <li><a href="badges.html">Skills</a></li>
        <li><a href="collapsible.html">My work</a></li>
        <li><a href="mobile.html">Contact</a></li>
      </ul>
    </div>
  </nav>

</div>
