<h1 id='about' class='scrollspy'>About Me Here</h1>

<div class="fun-facts">
  <h3>Fun Facts</h3>
  <ul>
    <li>I love anything that is<strong>visually attractive</strong></li>
    <li>Chill music is <strong>orgasmic</strong> to my ear</li>
    <li>#<strong>Dota 2</strong> is <strong>Life</strong></li>
    <li>Iam currently own a Broken laptop, <strong>NEED</strong> a new <strong>MacBook ASAP!!!</strong></li>
  </ul>

</div>
