<div id='about' class="about-container scrollspy">
  <!-- about title -->
  <div class="about-title">
    <h2><i class='fa fa-user-secret'></i> About</h2>
  </div>
  <!-- row -->
  <div class="row about-row">
    <!-- img -->
    <div class="col s12 m4 about-col">
      <div class="person-img">
        <img src="images/person.jpg" class='z-depth-5 person-pic' alt="no-image">
      </div>
    </div>
    <!-- personal description -->
    <div class="col s12 m4 person-desc about-col">
      <h4><i class='fa fa-book'></i> My Story</h4>
      <p><i class='fa fa-dot-circle-o'></i> I'm a <b>creative</b> full developer recently graduate from <b>General Assembly</b>, based in Singaproe</p>
      <p><i class='fa fa-dot-circle-o'></i> I develop compelling designs that spring to life using transition and animations that suit my clients, using the most sophisticated technologies available today for fully interactive and responsive websites and
        apps</p>
    </div>
    <!-- fun fact -->
    <div class="col s12 m4 about-col">
      <div class="fun-facts">
        <h4><i class='fa fa-star-half-o'></i> Fun Facts</h4>
        <ul class='fun-ul'>
          <li><i class='fa fa-dot-circle-o'></i> I love anything that is<strong>visually attractive</strong></li>
          <li><i class='fa fa-dot-circle-o'></i> Chill music is<strong>orgasmic</strong>to my ear</li>
          <li><i class='fa fa-dot-circle-o'></i> Dota 2 is<strong>life</strong></li>
          <li><i class='fa fa-dot-circle-o'></i> Need<strong>MacBookPro</strong>Soon</li>
        </ul>
      </div>
    </div>

  </div>
</div>
