<div id='about' class="about-container scrollspy">

  <div class="row about-row">
    <!-- img -->
    <div class="col s8 m4">
      <div class="person-img">
        <img src="images/person.jpg" class='z-depth-5 person-pic' alt="no-image">
      </div>
    </div>
    <!-- personal description -->
    <div class="col s8 m4">
      <h3><em>My Story</em></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<</p>
    </div>
    <!-- fun fact -->
    <div class="col s8 m4">
      <div class="fun-facts">
        <h3><em>Fun Facts</em></h3>
        <ul class='fun-ul'>
          <li><i class='fa fa-dot-circle-o'></i> I love anything that is<strong>visually attractive</strong></li>
          <li><i class='fa fa-dot-circle-o'></i> Chill music is <strong>orgasmic</strong> to my ear</li>
          <li><i class='fa fa-dot-circle-o'></i> Dota 2 is <strong>Life</strong></li>
          <li><i class='fa fa-dot-circle-o'></i> I <strong>NEED</strong> a new <strong>MacBook ASAP!!!</strong></li>
        </ul>
      </div>
    </div>

  </div>
</div>
