  <div id='about' class="about-container scrollspy">
  <!-- about title -->
  <div class="about-title">
    <h3><i class='fa fa-users'></i> <b>About Me</b></h3>
  </div>
  <!-- row image -->
  <div class="row row-image">
    <!-- img -->
    <div class="col s12 m12 l12">
      <div class="person-img center-align ">
        <img src="images/person.jpg" class='z-depth-5 person-pic responsive-img' alt="no-image">
      </div>
    </div>
  </div>
  <!-- row description -->
  <div class="row about-row">
      <!-- personal description -->
      <div class="person-desc about-col col s12 m12 l4">
        <ul class='collection with-header'>
          <!-- header -->
          <li class='collection-header'><h4><b>My Story</b> </h4></li>
          <!-- item -->
          <li class='collection-item'><i class='fa fa-quote-right fa-x2'></i> I'm a <b>Creative</b> front-end developer from <b>General Assembly</b>, based in Singapore</li>

          <li class='collection-item'><i class='fa fa-quote-right fa-x2'></i> I love coding in React.js</li>
          
          <li class='collection-item'><i class='fa fa-quote-right fa-x2'></i> I have a <b>passion</b> for creating product. Keen sense of <b>learning and self-discovery</b> on new technology and knowledge. My main strength will be having a <b>growth mindset</b> and accepting new challenges.</li>

          <li class='collection-item'><i class='fa fa-quote-right fa-x2'></i> As a hobby, i've always love Art, Design And Virtual Attracting. I did digital painting using Wacom Cintiq for past time. But have always wanted to do programming as a career transition</li>

        </ul>

      </div>

      <!-- personal info -->
      <div class="person-desc about-col col s12 m12 l4">
        <ul class='collection with-header'>
          <!-- header -->
          <li class='collection-header'><h4><b>Personal Info</b> </h4></li>
          <!-- item -->
          <li class='collection-item'>
            <span>Name :</span>Arif Rahman</li>
          <li class='collection-item'>
            <span>Age :</span>29 yrs</li>
          <li class='collection-item'>
            <span>Phone :</span>+65 87507040</li>
          <li class='collection-item'>
            <span>Email :</span>matrep88@hotmail.com</li>
          <li class='collection-item'>
            <span>Address :</span>Central, Singapore</li>

        </ul>

      </div>

      <!-- fun facts -->
      <div class="person-desc about-col col s12 m12 l4">
        <ul class='collection with-header'>
          <!-- header -->
          <li class='collection-header'><h4><b>Fun Facts</b> </h4></li>
          <!-- item -->
          <li class='collection-item'>I'am a Hairstylist with a decades of experience</li>
          <li class='collection-item'>During my past time i love playing Dota 2</li>
          <li class='collection-item'>I love music</li>
          <li class='collection-item'>I need A Macbook Pro Soon, My Current laptop is broken</li>

        </ul>

      </div>



    <!-- end of multiple -->
  </div>

</div>
