<div class="parallax-container responsive-img">
  <!-- fly-in-text -->
  <ul class='fly-in-text hidden'>
    <li>W</li>
    <li>E</li>
    <li>L</li>
    <li>C</li>
    <li>O</li>
    <li>M</li>
    <li>E</li>
  </ul>
  <!-- typed animation -->
  <div class="typed-wrap">
    <div id="typed-strings">
      <h4>Hi!, i'am<b> Arif Rahman</b>.</h4>

      <p><b> Creative Front-End </b>Web Developer.</p>

      <p>I'am<b> Passionate </b></p>

      <p>on <b> Creating<b></p>

      <p>Rich <b>Interactive </b>web apps</p>

    </div>
    <span id="typed"></span>
  </div>
  <!-- hire me btn -->
  <div class="hire-me-wrap">
    <a href='#contacts' class="waves-effect waves-light btn black-btn scrollspy">Hire Me <i class="fa fa-paper-plane"></i></a>
  </div>

</div>
