<div class="contacts-container">
  <!-- title -->
  <div class="contacts-title">
    <h3><i class='fa fa-mobile'></i> Contacts</h3>
  </div>
  <!-- description -->
  <div class="contacts-description">

  </div>
  <!-- google map  -->
  <div class="google-map">
    <div id='map'></div>
  </div>


</div>
