<div id='contacts' class="contacts-container scrollspy">
  <!-- title -->
  <div class="contacts-title">
    <h3><i class='fa fa-mobile'></i> <b>Contacts</b></h3>
  </div>
  <!-- contacts-wrap -->
  <div class="contacts-wrap">
    <div class="row">
      <!-- google map  -->
      <div id='map' class="google-map col s12 m6"></div>
      <!-- description -->
      <div class="contacts-description col s12 contacts-col">
        <!-- contacts-detail -->
        <ul class='contacts-ul'>
          <li>
            <h5><i class='fa fa-map-marker fa-1x'></i><b> Address:</b> 8 Claymore Hill, Singapore</h5></li>

          <li>
            <h5><i class='fa fa-phone fa-1x'></i><b> Phone:</b> +65 94886685</h5></li>

          <li>
            <h5><i class='fa fa-envelope-o fa-1x'></i><b> Email:</b> matrep88@hotmail.com</h5></li>
        </ul>
      </div>
    </div>
    <!-- input fields -->
    <div class="row">
      <form class="col s12" action="https://formspree.io/matrep88@hotmail.com" method="POST">
        <div class="row">
          <!-- name -->
          <div class="input-field col s12 m6">
            <input id="name" type="text" class="validate">
            <label for="name">Name:</label>
          </div>
        </div>
        <!-- email -->
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="email" type="email" class="validate">
            <label for="email">Email:</label>
          </div>
        </div>
        <!-- company -->
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="phone" type="text" class="validate">
            <label for="phone">Company / Organisation:</label>
          </div>
        </div>
        <!-- phone -->
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="phone" type="text" class="validate">
            <label for="phone">Phone:</label>
          </div>
        </div>
        <!-- message -->
        <div class="row">
          <div class="input-field col s12 m6">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Message:</label>
          </div>
        </div>
        <!-- button -->
        <input class="btn waves-effect waves-light contacts-inputs" type="submit" value="Submit">
      </form>
    </div>
  </div>

</div>
