<div id='contacts' class="contacts-container scrollspy">
  <!-- title -->
  <div class="contacts-title">
    <h3><i class='fa fa-mobile'></i> <b>Contacts</b></h3>
  </div>
  <!-- contacts-wrap -->
  <div class="contacts-wrap">
    <div class="divider"></div>
    <!-- contacts-description -->
    <div class="row">
      <!-- description -->
      <div class="contacts-description col s12 contacts-col">
        <ul class='contacts-ul'>
          <li>
            <h5><i class='fa fa-map-marker fa-1x'></i><b> Address:</b> 8 Claymore Hill, Singapore</h5></li>

          <li>
            <h5><i class='fa fa-phone fa-1x'></i><b> Phone:</b> +65 87507040</h5></li>

          <li>
            <h5><i class='fa fa-envelope-o fa-1x'></i><b> Email:</b> matrep88@hotmail.com</h5></li>
        </ul>
      </div>
    </div>
    <div class="divider"></div>
    <!-- google map -->
    <div class="row">
      <div class="google-map col s12 m12 l12">
        <div id='map' class="google-map responsive-img"></div>
      </div>
    </div>
    <div class="divider"></div>
    <!-- input fields -->
    <div class="row">
      <form class="inputs-form col s12" action="https://formspree.io/matrep88@hotmail.com" method="POST">
        <div class="inputs-hidden row">
          <!-- name -->
          <div class="input-field col s12 m12 l6">
            <input id="name" type="text" class="validate" name='Name'>
            <label for="name">Name:</label>
          </div>
        </div>
        <!-- email -->
        <div class="inputs-hidden row">
          <div class="input-field col s12 m12 l6">
            <input id="email" type="email" class="validate" name='Email'>
            <label for="email">Email:</label>
          </div>
        </div>
        <!-- company -->
        <div class="inputs-hidden row">
          <div class="input-field col s12 m12 l6">
            <input id="company" type="text" class="validate" name='Company'>
            <label for="company">Company / Organisation:</label>
          </div>
        </div>
        <!-- phone -->
        <div class="inputs-hidden row">
          <div class="input-field col s12 m12 l6">
            <input id="phone" type="text" class="validate" name='Phone'>
            <label for="phone">Phone:</label>
          </div>
        </div>
        <!-- message -->
        <div class="inputs-hidden row">
          <div class="input-field col s12 m12 l6">
            <textarea id="textarea1" class="materialize-textarea" name='Message'></textarea>
            <label for="textarea1">Message:</label>
          </div>
        </div>
        <!-- button -->
        <input class="inputs-hidden btn waves-effect waves-light contacts-inputs" type="submit" value="Send">
      </form>
    </div>

    <div class="divider"></div>
  </div>
  <!-- button -->
  <div class="contacts-btn">
    <a href='#home' class="btn-floating scrollspy contacts-btn-color"><i class="fa fa-arrow-up"></i></a>
  </div>
</div>
