<div class="contacts-container">
  <div class="contacts-title">

  </div>
  <div class="contacts-wrap">
    <div class="google-map">
      <img src="https://maps.googleapis.com/maps/api/staticmap?center=Berkeley,CA&zoom=14&size=400x400&key=<%= GOOGLE_API %>">
    </div>
  </div>


</div>
