<div id='my_work' class="my-work-container scrollspy">
  <div class="my-work-title">
    <h2><i class='fa fa-briefcase'></i> My Work</h2>
  </div>
  <!-- carousle wrapper slider -->
  <div id='video-carousel-example2'class="carousel slide carousel-fade"
  data-ride='carousel'>
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
      <li data-target="#video-carousel-example2" data-slide-to="1"></li>
      <li data-target="#video-carousel-example2" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner" role='listbox'>
        <!-- nyan cat -->
        <div class='carousel-item active'>
          <!-- video -->
          <video class="video-full" autoplay loop>
            <source src="http://mdbootstrap.com/images/video/Tropical.mp4" type="video/mp4" />
          </video>
          <!-- comment -->
          <div class="caption center-align">
            <h3>NyanNyan Cat</h3>
            <h5>A small game project i created, using HTML5 and CSS3</h5>
            <a target="_blank" href="https://ayeprahman.github.io/NyanNyanCat-V.1/" class="waves-effect waves-light btn black-btn" rel="nofollow">Live Sites</a>
          </div>

        </div>
        <!-- gaview -->
        <div class='carousel-item'>
          <!-- video -->
          <video class="video-full" autoplay loop>
            <source src="http://mdbootstrap.com/images/video/Sail-Away.mp4" type="video/mp4" />
          </video>
          <!-- comment -->
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5>Here's our small slogan.</h5>
            <a target="_blank" href="https://ayeprahman.github.io/NyanNyanCat-V.1/" class="waves-effect waves-light btn black-btn" rel="nofollow">Live Sites</a>
          </div>
        </li>
        <!-- commuter -->
        <li>
          <!-- video -->
          <video class="video-full" autoplay loop>
            <source src="http://mdbootstrap.com/images/video/Agua-natural.mp4" type="video/mp4" />
          </video>
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5>Here's our small slogan.</h5>
            <a target="_blank" href="https://ayeprahman.github.io/NyanNyanCat-V.1/" class="waves-effect waves-light btn black-btn" rel="nofollow">Live Sites</a>
          </div>
        </li>
    </div>
  </div>
</div>
