<footer>
  <div id="footer">
    <div class="footer-container">
      <div class="row">
        <div class="col s12">
          <!-- logo -->
          <div class="footer-logo">
            <a href="#home" class="scrollspy"><img class="responsive-img" id="footer-img" src="images/logoNew2.png" /></a>
          </div>
          <!-- copyright -->
          <p class="footer-copy">Arif Rahman &copy; 2017.</p>
          <div class="social-links">

            <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>

            <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>

            <a href="https://www.google.com/+MattFarley"><i class="fa fa-instagram"></i></a>

            <a href="https://github.com"><i class="fa fa-github"></i></a>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
