<div id='my_work' class="my-work-container scrollspy">
  <div class="my-work-title">
    <h3><i class='fa fa-laptop'></i> <b>My Work</b></h3>
  </div>
  <div class="my-work-wrap">
    <!-- card -->
    <div class="row my-work-row">

      <!-- Corvies -->
      <div class="col s12 m12 l4 my-work-col">
          <div class="card z-depth-5">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="../../assets/images/corvies.PNG" alt="">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Corvies<i class="material-icons right">more_vert</i></span>
              <p><a href="https://corvies-d6358.firebaseapp.com/">Live Site</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><strong>Build with: React, Redux, Firebase </strong><i class="material-icons right">close</i></span>
              
              <h4>Corvies, the core place to search for your favourtie movies</h4>
              <ul>
                <li>Build with react and redux for front end</li>
                <li>Routing using react-router-dom</li>
                <li>Authentication with firebase auth, usage email/password and facebook authentication</li>
                <li>Movies Api using <a href="https://www.themoviedb.org/documentation/api">themoviedb</a></li>
                <li>front end framwork using <a href="http://materializecss.com/helpers.html">Materialize</a></li>
              </ul>
              
            </div>
          </div>
      </div>
      
      <!-- gaview -->
      <div class="col s12 m12 l4 my-work-col">
        <div class="card z-depth-5">
          <div class="card-image waves-effect waves-block waves-light">
            <video class="activator video-full" autoplay loop>
              <source src="videos/gaview.mp4" type="video/mp4" />
            </video>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Gaview<i class="material-icons right">more_vert</i></span>
            <p><a href="https://gaview.herokuapp.com/">Live Site</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><strong>Build with: Node.js, mongoDB, bootstrap </strong><i class="material-icons right">close</i></span>
            <p>
              Gaview makes you a better gamer by connecting gaming community all over the world <br> Gaview: Review Write review about player matches.
              <br> Gaview: Watch Watch player recent match
              <br> Gaview: Share Share your review to other players.
              <br> Gaview: Likes Likes gaviewer matches and statistic.
              <br> Gaview: Photos And Videos Share photos and Videos of gaview games.
              <br> Gaview: Compare Compare matches and review which other gaviewer.
            </p>
          </div>
        </div>
      </div>
      <!-- commuter -->
      <div class="col s12 m12 l4 my-work-col">
        <div class="card z-depth-5">
          <div class="card-image waves-effect waves-block waves-light">
            <video class="activator video-full" autoplay loop>
              <source src="videos/commuter.mp4" type="video/mp4" />
            </video>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Commuter<i class="material-icons right">more_vert</i></span>
            <p><a href="https://commuter-wdi.herokuapp.com/users/sign_in">Live site</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><strong>Build with: Ruby On Rails, Postgresql</strong><i class="material-icons right">close</i></span>
            <p>
              How much time do you spend commuting to work or school on a daily basis? Do you feel that your time could be put to better use during your commute? At Commuter, we thought so too! Your precious time could be put to great use, whether its learning a new
              skill, language or getting a proof of concept.
              <br> Your mundane daily commute will never be the same again. Commuter is a platform where you can find other like-minded people who are travelling on the same route as you. This provides the opportunity for a 30min crash course on bird
              watching or a language buddy to sharpen your French skills. The choice is yours.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-work-row">
      <!-- nyancat -->
      <div class="col s12 m12 l4 my-work-col">
          <div class="card z-depth-5">
            <div class="card-image waves-effect waves-block waves-light">
              <video class="activator video-full" autoplay loop>
                <source src="videos/nyancat.mp4" type="video/mp4" />
              </video>
            </div>
            <div class="card-content">
              <i class=''></i>
              <span class="card-title activator grey-text text-darken-4"> NyanNyan Cat V.1<i class="material-icons right">more_vert</i></span>
              <p><a href="https://ayeprahman.github.io/NyanNyanCat-V.1/">Live Site</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><strong>Build with: HTML5, CSS3, Javascript</strong><i class="material-icons right">close</i></span>
              <p>Have you ever wondered, what happen when a bored avid gamer who loves game and cat.
                <br> I introduce u a mix of flappy bird and nyan cat
                <br> Fly your cat way through pixelize random generate tube and scores the highest point!
              </p>
            </div>
          </div>
      </div>

      <!-- meteorTodolist -->
      <div class="col s12 m12 l4 my-work-col">
        <div class="card z-depth-5">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="images/MeteorTodolist.PNG">
          </div>
          <div class="card-content">
            <i class=''></i>
            <span class="card-title activator grey-text text-darken-4"> Meteor Todo List<i class="material-icons right">more_vert</i></span>
            <p><a href="https://ar-meteortodolist.herokuapp.com/">Live Site</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><strong>Meteor Todo List</strong><i class="material-icons right">close</i></span>
            <ul>
              <li>A simple project using Meteor.js to create a TodoList</li>
              <li>Using bootstrap css framework</li>
              <li>I used Sass for css preprocessor</li>
            </ul>
          </div>
        </div>
      </div>


      <!-- end of card -->
    </div>
  </div>

</div>
