<div id='my_work' class="my-work-container scrollspy">
  <div class="my-work-title">
    <h2>My Work</h2>
  </div>
  <!-- slider -->
  <div class="slider">
    <ul class="slides">
      <!-- nyan cat -->
      <li>
        <!-- video -->
        <video class="video-full" autoplay loop>
          <source src="http://mdbootstrap.com/images/video/Tropical.mp4" type="video/mp4" />
        </video>
        <!-- comment -->
        <div class="caption center-align text-grey darken-4">
          <h3>NyanNyan Cat</h3>
          <h5>A small game project i created, using HTML5 and CSS3</h5>
          <a target="_blank" href="https://ayeprahman.github.io/NyanNyanCat-V.1/" class="waves-effect waves-light btn black-btn" rel="nofollow">Live Sites</a>
        </div>

      </li>
      <!-- gaview -->
      <li>
        <!-- video -->
        <video class="video-full" autoplay loop>
          <source src="http://mdbootstrap.com/images/video/Sail-Away.mp4" type="video/mp4" />
        </video>
        <!-- comment -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <!-- commuter -->
      <li>
        <!-- video -->
        <video class="video-full" autoplay loop>
          <source src="http://mdbootstrap.com/images/video/Agua-natural.mp4" type="video/mp4" />
        </video>
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
