<div id='my_work' class="my-work-container scrollspy">
  <div class="my-work-title">
    <h3><i class='fa fa-briefcase'></i> My Work</h3>
  </div>
  <div class="my-work-desciption">
    <h4><strong>Here are few of my recent projects.</strong></h4>
    <p><i class='fa fa-dot-circle-o'></i> Taking advantage of my development knowledge I can find the best way to make a layout reliable and consistent.</p>
    <p><i class='fa fa-dot-circle-o'></i> Nowdays I'm mostly focused on development but from time to time I like to design my own projects and explore new visual trends.</p>
  </div>
  <!-- card -->
  <div class="row">
    <!-- nyancat -->
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <video class="activator video-full" autoplay loop>
            <source src="http://mdbootstrap.com/images/video/Tropical.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">NyanNyan Cat V.1<i class="material-icons right">more_vert</i></span>
          <p><a href="https://ayeprahman.github.io/NyanNyanCat-V.1/">Live Site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">NyanNyan Cat V.1<i class="material-icons right">close</i></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <!-- gaview -->
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <video class="activator video-full" autoplay loop>
            <source src="http://mdbootstrap.com/images/video/Tropical.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Gaview<i class="material-icons right">more_vert</i></span>
          <p><a href="https://gaview.herokuapp.com/">Live Site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Gaview<i class="material-icons right">close</i></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <!-- commuter -->
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <video class="activator video-full" autoplay loop>
            <source src="http://mdbootstrap.com/images/video/Tropical.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Commuter<i class="material-icons right">more_vert</i></span>
          <p><a href="https://commuter-wdi.herokuapp.com/users/sign_in">Live site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Commuter<i class="material-icons right">close</i></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
