<div id='my_work' class="my-work-container scrollspy">
  <div class="my-work-title">
    <h3><i class='fa fa-briefcase'></i> My Work</h3>
  </div>
  <!-- carousle wrapper slider -->
  <div id='video-carousel-example2'class="carousel slide carousel-fade"
  data-ride='carousel'>



    <div class="carousel-inner" role='listbox'>
        <!-- nyan cat -->

        <!-- gaview -->

        <!-- commuter -->

    </div>
  </div>
</div>
