<div id="home" class="navbar-fixed">
  <nav class='grey lighten-3'>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img class="responsive-img" id="logo" src="images/logoNew.png" /></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#about_me" data-section='#about_me' class='menu-smooth-scroll'>About Me</a></li>
        <li><a href="#skills" data-section='#skills' class='menu-smooth-scroll'>Skills</a></li>
        <li><a href="#my_work" data-section='#my_work' class='menu-smooth-scroll'>My work</a></li>
        <li><a href="#contact" data-section='#contact' class='menu-smooth-scroll'>Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="mobile-profile">
          <div class="profile-inner">
            <div class="pp-container">
              <img src="images/person.jpg" alt="">
            </div>
            <a href="#!"><span class="white-text ">Arif Rahman</span></a>
          </div>
        </li>
        <!-- mini profile end-->
        <li><a href="#about_me" data-section='#about_me' class='menu-smooth-scroll'>About Me</a></li>
        <li><a href="#skills" data-section='#skills' class='menu-smooth-scroll'>Skills</a></li>
        <li><a href="#my_work" data-section='#my_work' class='menu-smooth-scroll'>My work</a></li>
        <li><a href="#contact" data-section='#contact' class='menu-smooth-scroll'>Contact</a></li>
      </ul>
    </div>
  </nav>

</div>
