<div class="navbar-fixed">
  <nav class='grey lighten-3'>
    <div class="nav-wrapper">
      <a href="#home" class="brand-logo scrollspy"><img class="responsive-img" id="logo" src="images/logoNew.png" /></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#about" class='scrollspy'>About</a></li>
        <li><a href="#skills" class='scrollspy'>Skills</a></li>
        <li><a href="#my_work" class='scrollspy'>My work</a></li>
        <li><a href="#contact" class='scrollspy'>Contact</a></li>
      </ul>
      <!-- side-bar mini profile -->
      <ul id="slide-out" class="side-nav">
        <li>
          <div class="userView">
            <div id="home" class="navbar-fixed">
              <div class="background">
                <img src="images/banner.jpg">
              </div>
              <a href="#!user"><img class="circle" src="images/person.jpg"></a>
              <a href="#!name"><span class="white-text name">Arif Rahman</span></a>
              <a href="#!"><span class="white-text ">Creative Wev Dev</span></a>
            </div>
        </li>
        <li><a href="#home" class="scrollspy">Home</a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a href="#about" class="scrollspy">About</a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a href="#skills" class="scrollspy">Skills</a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a href="#my_work" class="scrollspy">My Work</a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a href="#contact" class="scrollspy">Contact</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="scrollspy button-collapse"><i class="material-icons">menu</i></a>
      </div>
  </nav>

  </div>
