<div id='skills' class="skills-container scrollspy" >
  <!-- title-section -->
  <div class="skills-title">
    <h3><i class='fa fa-bar-chart'></i> <b>Skills</b></h3>
  </div>
  <!-- skills description -->
  <div class="skills-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <!-- skills-wrap -->
  <div class="skills-wrap">
    <!-- row -->
    <div class="row skill-row">
      <!-- development -->
      <div class="col s12 l6 skills-col-d">
        <h5><i class='fa fa-tasks'></i> <b>Development:</b></h5>
        <ul class='col m6 skills-ul'>
          <li><i class='icon-html5'></i> HTML5</li>
          <li><i class='icon-css3'></i> CSS3</li>
          <li><i class='icon-sass'></i> Sass/Scss</li>
          <li><i class='icon-bootstrap'></i> Bootstrap</li>
          <li><i class='fa fa-dot-circle-o'></i> Materialize</li>
          <li><i class='fa fa-dot-circle-o'></i> Skeleton</li>
          <li><i class='icon-js'></i> Javascript</li>
          <li><i class='icon-jquery'></i> Jquery</li>
          <li><i class='icon-nodejs'></i> Node.js</li>
        </ul>
        <ul class='col m6 skills-ul'>
          <li><i class='icon-react'></i> React</li>
          <li><i class='icon-ruby'></i> Ruby</li>
          <li><i class='icon-rails'></i> Rails</li>
          <li><i class='icon-github-circle-alt'></i> Git</li>
          <li><i class='icon-heroku'></i> Heroku</li>
          <li><i class='icon-mongodb'></i> MongoDB</li>
          <li><i class='icon-postgres'></i> Postgres</li>
          <li><i class='icon-sql'></i> Node.js</li>
        </ul>
      </div>
      <!-- tools -->
      <div class="col s12 l6 skills-col-t">
        <h5><i class='fa fa-gear'></i> <b>Tools:</b></h5>
        <ul class='col m6 skills-ul'>
          <li><i class='icon-photoshop'></i> Adobe Photoshop</li>
          <li><i class='fa fa-dot-circle-o'></i>  Quick sketches</li>
          <li><i class='fa fa-dot-circle-o'></i>  Coral Painter</li>
          <li><i class='fa fa-dot-circle-o'></i>  Wacom Cintiq</li>
          <li><i class='fa fa-dot-circle-o'></i>  Tailor Brands (Logo)</li>
          <li><i class='fa fa-dot-circle-o'></i> Snipping Tools</li>
          <li><i class='fa fa-dot-circle-o'></i> Game Dvr (Record Videos)</li>
        </ul>
      </div>

    </div>
    <!-- canvas chart.js -->
    <div class="canvas-container">
      <canvas id='barChart' width='1000' height='300'></canvas>
    </div>

  </div>

</div>
