<div id='skills' class="skills-container scrollspy" >
  <!-- title-section -->
  <div class="skills-title">
    <h2><i class='fa fa-wrench'></i> Skills</h2>
  </div>
  <!-- canvas chart.js -->
  <div class="canvas-container">
    <canvas id='barChart' width='800' height='400'></canvas>
  </div>

</div>
