<div id='skills' class="skills-container scrollspy" >
  <!-- title-section -->
  <div class="skills-title">
    <h2><i class='fa fa-wrench'></i> Skills</h2>
  </div>
  <!-- row -->
  <div class="row skill-row">
    <!-- development -->
    <div class="col s12 l6 skills-col">
      <h4><i class='fa fa-tasks'></i> Development</h4>
      <ul class='col m6'>
        <li><i class='fa fa-dot-circle-o'></i> HTML5</li>
        <li><i class='fa fa-dot-circle-o'></i> CSS3</li>
        <li><i class='fa fa-dot-circle-o'></i> Sass/Scss</li>
        <li><i class='fa fa-dot-circle-o'></i> Bootstrap</li>
        <li><i class='fa fa-dot-circle-o'></i> Materialize</li>
        <li><i class='fa fa-dot-circle-o'></i> Skeleton</li>
        <li><i class='fa fa-dot-circle-o'></i> Javascript</li>
      </ul>
      <ul class='col m6'>
        <li><i class='fa fa-dot-circle-o'></i> Jquery</li>
        <li><i class='fa fa-dot-circle-o'></i> Node.js</li>
        <li><i class='fa fa-dot-circle-o'></i> React</li>
        <li><i class='fa fa-dot-circle-o'></i> React-Native</li>
        <li><i class='fa fa-dot-circle-o'></i> Ruby on Rails</li>
        <li><i class='fa fa-dot-circle-o'></i> Git</li>
      </ul>
    </div>
    <!-- tools -->
    <div class="col s12 l6 skills-col">
      <h4><i class='fa fa-gear'></i> Tools</h4>
      <ul class='col m6'>
        <li><i class='fa fa-dot-circle-o'></i> Adobe Photoshop</li>
        <li><i class='fa fa-dot-circle-o'></i>  Quick sketches</li>
        <li><i class='fa fa-dot-circle-o'></i>  Coral Painter</li>
        <li><i class='fa fa-dot-circle-o'></i>  Wacom Cintiq</li>
        <li><i class='fa fa-dot-circle-o'></i>  Tailor Brands (Logo)</li>
        <li><i class='fa fa-dot-circle-o'></i> Snipping Tools</li>
        <li><i class='fa fa-dot-circle-o'></i> Game Dvr (Record Videos)</li>
      </ul>
    </div>

  </div>
  <!-- canvas chart.js -->
  <div class="canvas-container">
    <canvas id='barChart' width='1000' height='400'></canvas>
  </div>

</div>
