<div id='skills' class="skills-container scrollspy" >
  <!-- title-section -->
  <div class="skills-title">
    <h3><i class='fa fa-bar-chart'></i> <b>Skills</b></h3>
  </div>
  <!-- skills-wrap -->
  <div class="skills-wrap">
    <!-- skills description -->
    <div class="row">
      <div class="skills-description col s12 m12 l5 offset-l1">
        <h5><i class='fa fa-quote-right fa-x2'></i> I love coding things from scratch. I design in the browser with <b>HTML(5), CSS(3)</b> and a touch of <b>JavaScript</b>, but I can work with front-end frameworks like <b>Bootstrap and Materialize.</b></h5>
      </div>

      <div class="skills-description col s12 m12 l5 offset-l4">
        <h5><i class='fa fa-quote-right fa-x2'></i> I <b>develop compelling designs</b> that spring to life using transition and animations that suit my clients, using the most sophisticated technologies available today for <b>fully interactive and responsive</b> websites and
          apps</h5>
      </div>

      <div class="skills-description col s12 m12 l5 offset-l7">
        <h5><i class='fa fa-quote-right fa-x2'></i> Nowadays i mostly focus on developing website using Javascript Front-End Framework like <b>React.js</b> and Full-Stack Framework Like <b>Meteor.js</b>. I find this tools make fast and responsive site.</h5>
      </div>

    </div>
    <!-- row -->
    <div class="row skill-row">
      <!-- development -->
      <div class="divider"></div>
      <div class="col s12 l12 skills-col-d">
        <h4><i class='fa fa-tasks'></i> <b>Development & Tools</b></h4>

        <ul class='col m12 skills-ul'>

          <li><i class="devicon-html5-plain-wordmark"></i></li>
          <li><i class="devicon-css3-plain-wordmark"></i></li>
          <li><i class="devicon-sass-original"></i></li>
          <li><i class="devicon-bootstrap-plain"></i></li>
          <li><i class="devicon-javascript-plain"></i></li>
          <li><i class="devicon-jquery-plain-wordmark"></i></li>
          <li><i class="devicon-nodejs-plain"></i></li>
          <li><i class="devicon-react-original-wordmark"></i></li>
          <li><i class="devicon-meteor-plain"></i></li>
          <li><i class="devicon-ruby-plain-wordmark"></i></li>
          <li><i class="devicon-rails-plain-wordmark"></i></li>
          <li><i class="devicon-git-plain"></i></li>
          <li><i class="devicon-php-plain"></i></li>
          <li><i class="devicon-heroku-line-wordmark"></i></li>
          <li><i class="devicon-mongodb-plain-wordmark"></i> </li>
          <li><i class="devicon-postgresql-plain"></i> </li>
          <li><i class="devicon-photoshop-plain"></i> </li>

        </ul>

      </div>

    </div>
    <div class="divider"></div>
    <!-- canvas chart.js -->
    <div class="canvas-container">
      <canvas id='barChart' width='900' height='400'></canvas>
    </div>

  </div>

</div>
