@import "components/variables"
@import "components/navbar"
@import "components/banner"
@import "components/flyingText"
@import "components/typed"
@import "components/about"
@import "components/skills"

// initial csss
*
  margin: 0
  padding: 0

body
  min-height: 200vh

.container
  margin: 0
  padding: 0

#sidenav-overlay
  background-color: rgba(0, 0, 0, 0)
